.mainDiv{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
    /* max-width: 1100px; */
    min-width: 1100px;
    flex-wrap: wrap;
    /* background-image: url('../../../src/assets/blblImgSl/dh5.jpg'); */
}
.navRouter{
    display: flex;
    min-width: 1200px;
}
.navRouter ul {
    display: flex;
    margin-top: 10px;
}
.navRouter ul li{
    display: flex;
    margin-left: 40px;
}
.navRouter ul li a{
    color: #000;
}
.navRouter ul li a:hover{
    color: skyblue;
}
.navRouter ul li:first-child a{
    color: skyblue;
    /* margin-left: 0px; */
}
.navRouter ul li:first-child{
    margin-left: 0px;
}
.carouselDiv {
    /* max-width: 1100px; */
    display: flex;
    min-width: 1200px;
    margin-top: 25px;
}
.carouselDiv ul{
    width: 600px;
    /* display: flex; */
}
.carouselDiv a{
    display: flex;
}
.carouselDivUl{
    display: flex;
    max-width: 600px;
    flex-wrap: wrap;
}
.carouselDivUlli{
    /* display: flex; */
    max-width: 190px;
    min-width: 190px;
}
.carouselDivUlliDiv{
    width: 170px;
}
.carouselDivUl li:first-child{
    margin-left: 10px;
}
.carouselDivUl li:nth-child(4){
    margin-left: 10px;
}

.liveLine{
    justify-content: center;
    display: flex;
    margin-top: 20px;
    padding-top: 17px;
}
.liveLineNav{
    display: flex;
    /* align-items: center; */
    min-width: 870px;
    max-width: 870px;
    max-height: 675px;
    min-height: 555px;
    /* flex-wrap: wrap; */
}
.liveLineNav a{
    display: flex;
}
.liveLineNavSpan{
        /* margin-bottom: 2px; */
font-size: 22px;
margin-left: 10px;
color: #000;
position: absolute;
}
.liveLineNavSpanTwo{
    margin-left: 25px;
    font-size: 10px;
    margin-top: 4px;
}
.liveLineUl{
    display: flex;
    /* max-width: 200px; */
    flex-wrap: wrap;
}
.liveLineUl img{
    width: 200px;
    height: 120px;
}
.liveLineUl li{
    display: flex;
    margin: 15px 7px;
    flex-wrap: wrap;
    max-width: 200px;
}
.liveLineUl ul{
    display: flex;
    flex-wrap: wrap;
}
.userView{
    display: flex;
}
.userTab{
    display: flex;
    flex-wrap: wrap;
    max-width: 290px;
}
.viewNumber{
        display: flex;
position: absolute;
background-color: red;
color: #fff;
margin-left: 17px;
}
.viewIcon{
    display: flex;
    position: absolute;
    background-color: rebeccapurple;
    color: #fff;

}
.userTitle{
    display: flex;
    font-size: 16px;
    color: rgb(0, 0, 0);
    /* font-weight: 400; */
}
.liveLineNavTwo{
    min-height: 500px;
    max-height: 500px;
}
.liveLineUlTwo{
    display: flex;
    max-width: 330px;
    flex-wrap: wrap;
}
.liveLineUlTwo img{
    width: 90px;
    height: 60px;
    border-radius: 10px;
}
.liveLineUlTwo li{
    display: flex;
    margin: 5px 7px;
    flex-wrap: wrap;
    max-width: 330px;
}
.liveLineUlTwo ul{
    display: flex;
    flex-wrap: wrap;
}
.stoDivUl{
    display: flex;
    /* max-width: ; */
    /* margin: 5px; */
}
.Sto{
    display: flex;
}
.stoDivUl li {
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
    min-width: 200px;
    margin: 5px;
}
.stoOne{
    display: flex;
}
.stoOneDivUl{
    display: flex;
    max-width: 200px;
    /* margin: 5px; */
    flex-wrap: wrap;
}
.stoOneDivUl li {
    display: flex;
    /* flex-wrap: wrap; */
    max-width: 200px;
    min-width: 200px;
    margin: 5px;
}
.totalDiv{
    display: flex;
}


.carouselDiv>>>.el-carousel__indicators--horizontal{  
    /* bottom: 0; */
    /* left: 80%; */
    /* -webkit-transform:none; */
    display: none;
    /* 
        轮播图的指示器的位置
    */
}
.carouselDiv>>>.el-carousel__button{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    /* 
        轮播图 指示器 的形状 ，现在为圆形
    */
}
.el-button--mini{
    padding: 3px 3px 3px 3px; 
    color: rgb(252, 128, 149);
    /* 
        修改按钮的大小
    */
}
.liveLineNav >>> #tab-0{
    padding-left: 10px;
}
.liveLineNav >>> #tab-1{
    padding-right: 10px;

}
.el-tabs__content {
overflow: hidden;
position: relative;
display: flex;
flex-wrap: wrap;
/* max-width: 960px; */
min-width: 860px;
}
.tabsDiv >>> .el-tabs__item.is-active.is-top {
    color: #409EFF;
    /* background-color: skyblue; */
    border-radius: 20px;
}
.tabsDiv>>>.el-tabs__nav-scroll{
    margin-left: 120px;
}
.el-row{
    /* margin-left: 80px; */
        position: absolute;
/* margin: 0 0px 400px 700px; */
margin-left: 800px;
margin-top: 5px;
    /* 
        修改按钮的位置
    */
}
.liveLineNav >>> .el-tabs__nav-wrap::after{
    background-color: #fff;
    /* 
        修改下划线 的背景颜色
    */
}
.liveLineNav >>> .el-tabs__active-bar.is-top{
    /* background-color: ; */
    height: 1px;
    /* 
        修改下划线 的颜色
    */
}
.tabsDiv >>>.el-tabs__item{
    padding: 0px 10px;
    height: 30px;
    line-height: 30px;
}
.tabsDiv>>>.el-tabs__nav{
    background-color: rgba(229, 226, 226, 0.5);
    border-radius: 20px;
}
/* .el-tabs__nav-wrap.is-top::after{
    background-color: #fff;
} */
.el-tabs__item{
    padding: 0px 6px;
    /* 
        修改 Tbs标签 的左右两边 的间距
    */
}
.tabsDiv{
        margin-left: 0px;
}

.TabsDiv >>> .el-tabs__item.is-active.is-top {
    color: #409EFF;
    /* background-color: skyblue; */
    border-radius: 20px;
}
.TabsDiv>>>.el-tabs__nav-scroll{
    margin-left: 100px;
}
.liveLineNavTwo >>> .el-tabs__nav-wrap::after{
    background-color: #fff;
    /* 
        修改下划线 的背景颜色
    */
}
.liveLineNavTwo >>> .el-tabs__active-bar.is-top{
    /* background-color: ; */
    height: 1px;
    /* 
        修改下划线 的颜色
    */
}
.TabsDiv >>>.el-tabs__item{
    padding: 0px 10px;
    height: 30px;
    line-height: 30px;
}
.TabsDiv>>>.el-tabs__nav{
    background-color: rgba(229, 226, 226, 0.5);
    border-radius: 20px;
}
.TabsDiv >>> .el-tabs__content {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    /* max-width: 960px; */
    min-width: 330px;
}
.liveLineNavTwo >>> .el-row{
    /* margin-left: 80px; */
        position: absolute;
/* margin: 0 0px 400px 700px; */
margin-left: 300px;
margin-top: -630px;
    /* 
        修改按钮的位置
    */
}
.liveLineNavTwo >>> .el-tabs__content {
overflow: hidden;
position: relative;
display: flex;
flex-wrap: wrap;
/* max-width: 960px; */
min-width: 330px;
max-height: 500px;
min-height: 500px;
}
.liveLineNavTwo >>> #tab-0{
    padding-left: 10px;
}
.liveLineNavTwo >>> #tab-1{
    padding-right: 10px;

}